<suite name="PracticeTestNG">
    <test name="TestNG">
        <!--<groups>
            &lt;!&ndash;can define name by including multiple groups&ndash;&gt;
            <define name = "All">
                <include name="car"/>
                <include name="Scooter"/>
            </define>
            &lt;!&ndash;under run tag we can define which groups should be run&ndash;&gt;
            <run>
                <include name = "All"/>
            </run>
        </groups>-->

        <parameter name="sUserName" value="anjulaw"/>
        <parameter name="sPassword" value="VJxwVmrYPL9Z"/>

        <classes>
            <!--<class name="com.testNG.basic.TestNGSelinium" />-->
            <!--<class name="com.testNG.basic.Sequence" />-->
            <!--<class name="com.testNG.advance.Grouping" />-->
            <class name="com.testNG.advance.Parameter" />
            <!--<class name="com.testNG.basic.TestNGBasic" />-->
        </classes>

    </test>

</suite>

